In [1]:
import jax
from jax import numpy as jnp

In [2]:
import numpy as np

In [3]:
def f(a, b, c):
    return a ** 3 + b ** 3 - c ** 3

In [4]:
f_jit = jax.jit(f)

In [5]:
a = np.random.rand(100000)
b = np.random.rand(100000)
c = np.random.rand(100000)

In [6]:
%timeit f(a=a, b=b, c=c)

6.84 ms ± 693 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [7]:
a_jax = jnp.array(a)
b_jax = jnp.array(b)
c_jax = jnp.array(c)

WARNING:absl:No GPU/TPU found, falling back to CPU. (Set TF_CPP_MIN_LOG_LEVEL=0 and rerun for more info.)

In [8]:
%timeit f_jit(a=a_jax, b=b_jax, c=c_jax).block_until_ready()

45 µs ± 12.6 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [12]:
%timeit np.dot(a, b)

18.1 µs ± 2.63 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [10]:
%timeit jnp.dot(a, b)

237 µs ± 72.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [13]:
%timeit jnp.dot(a_jax, b_jax)

128 µs ± 4.15 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [14]:
%timeit jnp.dot(a_jax, b_jax).block_until_ready()

128 µs ± 4.64 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [15]:
import pandas as pd

In [31]:
df = pd.DataFrame(dict(a=a, b=b, c=c))

In [32]:
np.sqrt(df)

              a         b         c
0      0.532015  0.440543  0.712226
1      0.624862  0.907825  0.715320
2      0.966278  0.851123  0.819740
3      0.554479  0.847663  0.943779
4      0.780525  0.833767  0.772231
...         ...       ...       ...
99995  0.826037  0.959174  0.872334
99996  0.988276  0.805842  0.628585
99997  0.866399  0.879759  0.389833
99998  0.288507  0.655229  0.770439
99999  0.608108  0.826839  0.888085

[100000 rows x 3 columns]

In [34]:
xx = jnp.sqrt(df.values)

In [35]:
pd.DataFrame(xx, columns=['a', 'b', 'c'])

              a         b         c
0      0.532015  0.440543  0.712226
1      0.624862  0.907825  0.715320
2      0.966278  0.851123  0.819740
3      0.554479  0.847663  0.943779
4      0.780525  0.833767  0.772231
...         ...       ...       ...
99995  0.826037  0.959174  0.872334
99996  0.988276  0.805842  0.628585
99997  0.866399  0.879759  0.389833
99998  0.288507  0.655229  0.770439
99999  0.608108  0.826839  0.888085

[100000 rows x 3 columns]

In [41]:
xx[:,1]

100000